<div >
  <div class="d-flex" style="justify-content: space-between;" *ngFor ='let user of users'>
    <span style="flex-basis: 10%;"> {{ user.name}}</span>
    <span style="flex-basis: 10%;"> {{ user.mailId}}</span>
    <span style="flex-basis: 20%;"> {{ user.userName}}</span>
    <span style="flex-basis: 20%;"> {{ user.mobile}}</span>
    <button style="flex-basis: 20%;" class="app-button" (click) = 'changeActivation(user)'>
    {{ user.isActive ? 'Deactivate User' : 'Activate User'}}
    </button>
    <button style="flex-basis: 20%;" class="app-button" (click) = 'changeManager(user)'>
      Change Manager
      </button>
  </div>
</div>
