<div class="page-content">
  <span class='page-title ml-3'> User Profile </span>

  <mat-horizontal-stepper labelPosition="bottom" #stepper class="p-2">
    <form [formGroup]="UserForm" class="form">
      <mat-step [completed]="false">
        <ng-template matStepLabel><span class="stepperHeading">Personal details</span></ng-template>

        <div class="myform-field">
          <label for="name">Name</label>
          <input type="text" formControlName="name" placeholder="Enter Name" class="form-control" id="name">
        </div>

        <div class="myform-field">
          <label for="userName">User Name</label>
          <input type="text" formControlName="userName" placeholder="Enter User Name" class="form-control"
            id="userName">
        </div>

        <div class="myform-field">
          <label for="mailId">Email</label>
          <input id="mailId" formControlName="mailId" type="email" placeholder="Enter Email" class="form-control">
              </div>
        <div class="myform-field">
          <label for="mobile">Phone No</label>
          <input id="mobile" formControlName="mobile" type="email" placeholder="Enter Phone Number"
            class="form-control">
          </div>

        <div class="myform-field">
          <label for="Roles">Role</label>
          <select disabled formControlName="Roles" placeholder="-- Select --" id="Roles" class="form-control">
            <option *ngFor="let role of Roles" [value]="role.id">{{ role.roleName }}</option>
          </select>
        </div>


      </mat-step>
      <mat-step [completed]="false">
        <ng-template matStepLabel><span class="stepperHeading">Bank account details</span></ng-template>

        <div class="myform-field">
          <label for="AcNo">Account Number</label>
          <input type="text" formControlName="AccountNumber" placeholder="Enter Account Number" class="form-control" id="AcNo">
        </div>

        <div class="myform-field">
          <label for="Name">Name (as per Bank details)</label>
          <input type="text" formControlName="NameInBank" placeholder="Enter Name" class="form-control" id="Name">
        </div>

        <div class="myform-field">
          <label for="IFSC">IFSC Code</label>
          <input type="text" formControlName="IFSCCode" placeholder="Enter IFSC Code" class="form-control" id="IFSC">
              </div>

        <div class="myform-field">
          <label for="BankName">Bank Name</label>
          <input type="text" formControlName="BankName" placeholder="BankName" class="form-control" id="BankName">
          </div>

      </mat-step>
      <mat-step [completed]="false">
        <ng-template matStepLabel><span class="stepperHeading">Payout split ratio</span></ng-template>
        <p>Payout split ratio.</p>
        <!-- <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div> -->
      </mat-step>

      <mat-step [completed]="false">
        <ng-template matStepLabel><span class="stepperHeading">Documents Upload</span></ng-template>

        <div  class = 'padding10'>
          <div class="d-flex">
            <input #aadhar type="file" class="d-none" (change)='setFileName()'>
            <button class='btn btn-link' (click)="aadhar.click()">Choose Adhar</button>
            <button class='app-button' *ngIf = 'aadhar.files && aadhar.files.length > 0' (click)="UploadFile('Aadhar', aadhar)">Upload</button>
              </div>
          <span *ngIf='aadhar.files && aadhar.files.length > 0'> {{ aadhar.files[0].name }}</span>
          <button *ngIf = 'adharDoc' class='btn btn-link' (click)="donwloadDocument(adharDoc)">Download Adhar</button>
              </div>

        <div  class = 'padding10'>
          <div class="d-flex">
            <input #pan type="file" class="d-none" (change)='setFileName()'>
            <button class='btn btn-link' (click)="pan.click()">Choose PAN</button>
            <button *ngIf='pan.files && pan.files.length > 0' class='app-button' (click)="UploadFile('PAN', pan)">Upload</button>
          </div>
          <span *ngIf='pan.files && pan.files.length > 0'> {{ pan.files[0].name }}</span>
          <button *ngIf = 'panDoc' class='btn btn-link' (click)="donwloadDocument(panDoc)">Download Pan</button>
        </div>
      </mat-step>
    </form>
  </mat-horizontal-stepper>

  <div class="justify-content-end pr-2">
    <button class='app-button' (click)="save()">Submit</button>
  </div>

</div>
