<div class="page-content">
  <span class='page-title'> User Profile </span>

  <mat-horizontal-stepper labelPosition="bottom" #stepper class="p-2">
    <form [formGroup]="UserForm" class="form">
      <mat-step [completed]="false">
        <ng-template matStepLabel><span class="stepperHeading">Personal details</span></ng-template>

        <div class="myform-field">
          <label for="name">Name</label>
          <input type="text" formControlName="name" placeholder="Enter Name" class="form-control" id="name">
        </div>

        <div class="myform-field">
          <label for="userName">User Name</label>
          <input type="text" formControlName="userName" placeholder="Enter User Name" class="form-control"
            id="userName">
        </div>

        <div class="myform-field">
          <label for="mailId">Email</label>
          <input id="mailId" formControlName="mailId" type="email" placeholder="Enter Email" class="form-control">
        </div>
        <div class="myform-field">
          <label for="mobile">Phone No</label>
          <input id="mobile" formControlName="mobile" type="email" placeholder="Enter Phone Number"
            class="form-control">
        </div>

        <div class="myform-field">
          <label for="roles">Role</label>
          <select formControlName="roles" placeholder="-- Select --" id="roles" class="form-control">
            <option *ngFor="let role of roles" [value]="role.id">{{ role.roleName }}</option>
          </select>
        </div>


      </mat-step>
      <mat-step [completed]="false">
        <ng-template matStepLabel><span class="stepperHeading">Bank account details</span></ng-template>

        <div class="myform-field">
          <label for="AcNo">Account Number</label>
          <input type="text" formControlName="AcNo" placeholder="Enter Account Number" class="form-control" id="AcNo">
        </div>

        <div class="myform-field">
          <label for="Name">Name (as per Bank details)</label>
          <input type="text" formControlName="Name" placeholder="Enter Name" class="form-control" id="Name">
        </div>

        <div class="myform-field">
          <label for="IFSC">IFSC Code</label>
          <input type="text" formControlName="IFSC" placeholder="Enter IFSC Code" class="form-control" id="IFSC">
        </div>
      </mat-step>
      <mat-step [completed]="false">
        <ng-template matStepLabel><span class="stepperHeading">Payout split ratio</span></ng-template>
        <p>Payout split ratio.</p>
        <!-- <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div> -->
      </mat-step>

      <mat-step [completed]="false">
        <ng-template matStepLabel><span class="stepperHeading">Documents Upload</span></ng-template>
        <!-- <div class="myform-field">
          <label for="AcNo">Aadhar</label>
          <input type="file" (change)="UploadFile($event)" class="form-control" id="AcNo">
        </div> -->

        <div class="flexrow padding10">
          <label class="label-style">Aadhar : &nbsp;</label>
          <input class="flex07" type="file" (change)="UploadFile($event)">
        </div>

        <div class="flexrow padding10">
          <label class="label-style">Pan : &nbsp;</label>
          <input class="flex07" type="file" (change)="UploadFile($event)">
        </div>

      </mat-step>
    </form>
  </mat-horizontal-stepper>

  <div class="justify-content-end pr-2">
    <button class='app-button' (click)="save()">Submit</button>
  </div>

</div>
