<mat-nav-list *ngFor="let link of MenuLinks;let i=index">
  <mat-toolbar-row *ngIf="link.SubMenu == null" class="cursor toolbar-rowheight" (click)="NavigateToPage(link.PageUrl)">
    <mat-icon class="white-color">{{link.Icon}}</mat-icon>
    <a *ngIf="link.SubMenu == null" mat-list-item><span class="white-color">{{link.title}}</span></a>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="link.SubMenu != null " class="cursor toolbar-rowheight" (click)="OpenPanel(i)">
    <mat-icon class="white-color">{{link.Icon}}</mat-icon>
    <a mat-list-item><span class="white-color">{{link.title}}</span></a>
    <mat-icon class="white-color" *ngIf="!OpenSubMenu[i]">keyboard_arrow_down</mat-icon>
    <mat-icon class="white-color" *ngIf="OpenSubMenu[i]">keyboard_arrow_up</mat-icon>
  </mat-toolbar-row>
  <div *ngIf="OpenSubMenu[i]">
    <mat-nav-list style="padding-top: 0px !important;" *ngFor="let sub of link.SubMenu;let i=index">
      <a mat-list-item class="white-color" (click)="NavigateToPage(sub.PageUrl)">
        <span class="white-color" style="padding-left: 25px;">{{sub.title}}</span>
      </a>
    </mat-nav-list>
  </div>

</mat-nav-list>
