<mat-toolbar class="bgcolor">
  <mat-toolbar-row>
    <div clas="flex01" style="flex: 0.2;" *ngIf="isHandset$ | async" (click)="ToggleSideMenu()">
      <mat-icon class="white-color">menu</mat-icon>
    </div>
    <div clas="flex1"  style="flex: 1;">
      <img style="height: 40px;" src="http://www.salespointonline.com/frontend/images/ac-white.png"
        alt="SalesPoint">
    </div>
    <div class="flex1">
      <span class="white-color">Sales App</span>
    </div>
    <div>

      <button mat-button [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="click"
        #popoverTrigger="mdePopoverTrigger">
        <mat-icon class="white-color">account_circle</mat-icon>
      </button>

      <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
        <mat-card style="max-width: 300px;background-color: #80808014;">
          <mat-card-content>
            User Details
            <button class="app-button" (click) = 'logout()'>Logout</button>
          </mat-card-content>
        </mat-card>
      </mde-popover>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
