<mat-toolbar class="bgcolor">
    <div style="width: 95%; display: flex; justify-content: space-between;padding: .5rem; align-items: center; position: fixed!important;
    left: 0;">
    <div *ngIf="isHandset$ | async" (click)="ToggleSideMenu()">
      <mat-icon class="white-color">menu</mat-icon>
    </div>
    <div clas="white-color" style="color: white; font-weight: bold;">
      VCIPL
    </div>
    <div *ngIf="!(isHandset$ | async)">
      <span class="white-color">Sales App</span>
    </div>
    <div>
      <div class="flexrow">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon class="white-color" [matMenuTriggerFor]="menu">account_circle</mat-icon>
          <span style="color: white; font-weight: bold;font-variant-caps: all-petite-caps"> {{ userService?.loggedInUser?.UserName }}
          </span>
          <mat-icon class="white-color">keyboard_arrow_down</mat-icon>
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <button (click)='goToMyProfile()' mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span >My Profile</span>
        </button>
        <button (click)='logout()' mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span >Logout</span>
        </button>
      </mat-menu>

    </div>

  </div>
</mat-toolbar>
