<div class="grid-style">
  <div></div>
  <div>
    <span class='page-title'> Change Password </span>
    <mat-card>
      <form [formGroup]="PasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="oldPassword">Old Password</label>
          <input type="text" formControlName="oldPassword" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
          <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
            <div *ngIf="f.oldPassword.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" formControlName="newPassword" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
          <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
            <div *ngIf="f.newPassword.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" formControlName="confirmPassword" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors || (f.confirmPassword.errors  && f.confirmPassword.errors.ConfirmPassword ) }" />
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
            <div *ngIf="f.confirmPassword.errors.ConfirmPassword">Passwords doesn't match
            </div>
          </div>
        </div>

        <button class="app-button">
          Save
        </button>
      </form>
    </mat-card>
    <!-- <div class="justify-content-end">
      <button class="app-button margin-top5" (click)="SaveUser()">Create User</button>
    </div> -->
  </div>
  <div></div>
</div>
