<div class="">
  <div class="mt-2 mb-2"><span class='page-title'> Create New User </span></div>

  <form [formGroup]="UserForm" class="form" novalidate>
    <div class="myform-field">
      <label for="name">Name</label>
      <input type="text" formControlName="name" placeholder="Enter Name" class="form-control" id="name">
    </div>

    <div class="myform-field">
      <label for="userName">User Name</label>
      <input type="text" formControlName="userName" placeholder="Enter User Name" class="form-control" id="userName">
    </div>

    <div class="myform-field">
      <label for="mailId">Email</label>
      <input id="mailId" formControlName="mailId" type="email" placeholder="Enter Email" class="form-control">
    </div>
    <div class="myform-field">
      <label for="mobile">Phone No</label>
      <input id="mobile" formControlName="mobile" type="email" placeholder="Enter Phone Number" class="form-control">
    </div>

    <div class="myform-field">
      <label for="Roles">Role</label>
      <select formControlName="Roles" placeholder="-- Select --" id="Roles" class="form-control">
        <option *ngFor="let role of Roles" [value]="role.id">{{ role.roleName }}</option>
      </select>
    </div>

      </form>

  <br />
  <div>
    <button class="app-button margin-top5" (click)="SaveUser()">Create User</button>
  </div>
</div>
