/* You can add global styles to this file, and also import other style files */

@import "~@angular/cdk/overlay-prebuilt.css";
@import "./variables.scss";
@import "./ag-grid-overrides.scss";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";

body {
  margin: 0px !important;
  font-size: 12px;;
}

.bgcolor {
  // box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.07);
  background-color: $background-color;
}

.stepperHeading {
  color: $background-color;
  font-weight: bold;
}
mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100% !important;
}

mat-sidenav {
  width: 250px !important;
}

mat-toolbar {
  min-height: 50px !important;
  max-height: 50px !important;
}

.flex1 {
  flex: 1 !important;
}

.flex01 {
  flex: 0.1 !important;
}

.flex03 {
  flex: 0.3 !important;
}

.flex07 {
  flex: 0.7 !important;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  display: grid;
  justify-content: center;
}

.justify-content-end {
  display: grid;
  justify-content: end;
}

.white-color {
  color: white;
}

.cursor {
  cursor: pointer;
}
.padding-top {
  padding-top: 10px !important;
}

.padding10 {
  padding: 10px !important;
}

.app-button {
  background: $background-color;
  color: white;
  padding: 0.5rem;
  border-radius: 0.2rem;
  &:hover {
    // opacity: 0.8;
    // font-weight: bold;
    color: rgb(209, 209, 151);
  }
  min-width: 150px;
}

.page-title {
  color: $background-color;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.page-title::after {
  content: "";
  display: block;
  margin-bottom: 20px;
  height: 3px;
  background: #ffab00;
  margin-top: 4px !important;
}

.margin-top5 {
  margin-top: 5px !important;
}

.page-content {
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: #fff;
}

.header {
  background-color: $background-color;
  color: white;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  border-radius: 8px 8px 0px 0px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 510px) {
  .myform-field {
    flex-direction: column;
    max-width: none !important;
    label {
      width: 100% !important;
    }

    input,
    select {
      width: 100% !important;
    }
  }
}

.myform-field {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 0.5rem;
  label {
    width: 40%;
    margin-bottom: 2px;
  }

  input,
  select {
    width: 60%;
    padding: 0.375rem 0.75rem;
  }
}
