/* You can add global styles to this file, and also import other style files */

@import "~@angular/cdk/overlay-prebuilt.css";
@import "./variables.scss";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

body {
  margin: 0px !important;
}

.bgcolor {
  // box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.07);
  background-color: $background-color;
}

.stepperHeading {
  color: $background-color;
  font-weight: bold;
}
mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100% !important;
}

mat-sidenav {
  width: 250px !important;
}

mat-toolbar {
  min-height: 50px !important;
  max-height: 50px !important;
}

.flex1 {
  flex: 1 !important;
}

.flex01 {
  flex: 0.1 !important;
}

.flex03 {
  flex: 0.3 !important;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  display: grid;
  justify-content: center;
}

.justify-content-end {
  display: grid;
  justify-content: end;
}

.white-color {
  color: white;
}

.cursor {
  cursor: pointer;
}
.padding-top {
  padding-top: 10px !important;
}

.app-button {
  background: $background-color;
  color: white;
  padding: 0.5rem;
  border-radius: .2rem;;
  &:hover {
    // opacity: 0.8;
    // font-weight: bold;
    color: rgb(209, 209, 151);
  }
  min-width: 150px;
}

.page-title {
  color: $background-color;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.margin-top5 {
  margin-top: 5px !important;
}

@media only screen and (min-width: 0px) {
  .grid-style {
    display: grid;
    grid-template-columns: 0% 100% 0%;
  }
}

@media only screen and (min-width: 576px) {
  .grid-style {
    display: grid;
    grid-template-columns: 1% 98% 1%;
  }
}

//64em is also 1028px (if basefont is 16px)
@media only screen and (min-width: 768px) {
  .grid-style {
    display: grid;
    grid-template-columns: 10% 80% 10%;
  }
}

//35em is also 560px (if basefont is 16px)
@media only screen and (min-width: 992px) {
  .grid-style {
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }
}

//64em is also 1028px (if basefont is 16px)
@media only screen and (min-width: 1200px) {
  .grid-style {
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }
}
